*{
    margin:0 auto;
}
body{
    height: 100%;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    background-color: #393e46;
}
a:link{
    text-decoration:none;
    color:#eeeeee;
}
a:visited{
    text-decoration:none;
    color:#eeeeee;
}
a:active{
    text-decoration:none;
    color:#eeeeee;
}
.titulo{
    padding: 3%;
    background-color: #7971ea;
    color: #393e46;
}
.corpo{
    height: 100%;
    padding: 2%;
    color: #eeeeee;
}