*{
    margin:0 auto;
}
.borda{
    border: solid 0px;
}
body{
    position: relative;
    font-family: 'Jua', sans-serif;
    background-color: #d8e5fd;

}
.topo{
    position: relative;
    width: 100%;
    height: 100%;
}
.img_perfil{
    position: relative;
    margin: 0px;
    margin-top: -11%;
    left: 1%;
    width: 20%;
    height: 40%;
}
.corpo{
    position: relative;
    margin-top: -8.5%;
}
.titulo{
    font-size: 2.5em;
    font-weight: lighter;
    position: relative;
    left: 25%;
}
.sub-titulo{
    font-size: 1.875em;
    text-align: left;
}

.descricao{
    font-family: 'Comfortaa', cursive;
    margin-left: 1%;
    position: relative;
    margin-top: 7%;
}
.link{
    font-family: 'Comfortaa', cursive;
    position: relative;
    margin-top: 1%;
    margin-right: 0.75%;
    float: right;
}