body{
    font-family: 'Bungee Shade', cursive;
}
.vidas{
    margin-left: 15%;
}
input[type=button] {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 16px 20px;
}

input[type=button]:hover {
    background-color: rgb(124, 124, 124); /* Green */
    color: #f1f1f1;
}