*{
    margin:0 auto;
}
body{
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}
.game_info{
    font-size:1.5em;
}
.vidas{
    margin-left: 10%;
}
.prox_nivel{
    visibility: hidden;
}
.botoes{
    font-family: 'Press Start 2P', cursive;
    padding:1%;
    margin-left: 1%;
	color: black;
	background-color: rgb(241,241,241);
	border-width:0.5%;
	border-radius: 0.3em;
	border-style:solid;
	text-transform:uppercase;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
		
	transition: -webkit-transform 0.5s;
	transition: -ms-transform 0.5s;
	transition: transform 0.5s;
}
.botoes:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
	background-color:rgb(124, 124, 124);
}