body{
    font-family: 'Bungee Shade', cursive;
}
/*input[type=button] {
    -webkit-transition-duration: 0.4s;  
    transition-duration: 0.4s;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 16px 20px;
}

input[type=button]:hover {
    background-color: rgb(124, 124, 124);
    color: #f1f1f1;
}*/
select {
    font-family: 'Press Start 2P', cursive;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.botoes{
    font-family: 'Press Start 2P', cursive;
    padding:1%;
    margin-left: 1%;
	color: black;
	background-color: rgb(241,241,241);
	border-width:0.5%;
	border-radius: 0.3em;
	border-style:solid;
	text-transform:uppercase;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
		
	transition: -webkit-transform 0.5s;
	transition: -ms-transform 0.5s;
	transition: transform 0.5s;
}
.botoes:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color:white;
	background-color:rgb(124, 124, 124);
}