*{
    margin:0 auto;
}
.borda{
    border: solid 0px;
}
body{
    position: relative;
    font-family: 'Comfortaa', cursive;
}
.corpo{
    
}
.titulo{
    font-size: 2.0em;
    font-weight: lighter;
}
.sub-titulo{
    color: blue;
    font-size: 1.4em;
    text-align: left;
}

.descricao{
    position: relative;
}