*{
    margin:0 auto;
}
.borda{
    border: solid 0px;
}
body{
    position: relative;
    font-family: 'Comfortaa', cursive;
}
.corpo{
    float: left;
}
.titulo{
    text-align: center;
    font-size: 2.0em;
    font-weight: lighter;
}
.sub-titulo{
    color: blue;
    font-size: 1.4em;
    text-align: left;
}
.descricao{
    position: relative;
}
.texto{
    background-color: rgb(221, 221, 221);
    padding: 0.5%;
    width: 25%;
    margin-top: 0.4%; 
    display: inline-block;
    color: rgb(218, 126, 21);
}

.formulario{
    background-color: rgb(238, 238, 238);
    position: relative;
    padding: 0.4%;   
    width: 30%;
    margin-top: 0.4%; 
    display: inline-block;
}
input{
    font-family: 'Comfortaa', cursive;
}
select{
    font-family: 'Comfortaa', cursive;
}
option{
    font-family: 'Comfortaa', cursive;
}
textarea{
    font-family: 'Comfortaa', cursive;
}
input:required:invalid, input:focus:invalid {
    background-image: url(/EX4/img/wrong.gif);
    background-position: 98%;
    background-repeat: no-repeat;
}
textarea:required:invalid, textarea:focus:invalid {   
    background-image: url(/EX4/img/wrong.gif);
    background-position: 98%;
    background-repeat: no-repeat;
}
   
input:required:valid {
    background-image: url(/EX4/img/check.png);
    background-position: 98%;
    background-repeat: no-repeat;
}
   
textarea:required:valid {
    background-image: url(/EX4/img/check.png);
    background-position: 98%;
    background-repeat: no-repeat;
}